// Colours
$colour-background: #eaeae9;
$colour-accent: #8fb5cc;
$colour-white: #ffffff;
$colour-white-translucent: #f5f5f59f;
$colour-text: #393939;

$colour-ui-hover: #77a0bb;
$colour-ui-primary: #303030;
$colour-ui-shadow: #3030308a;
$colour-ui-shadow-sec: #30303027;

$colour-border: #66646349;

$linearGradient: linear-gradient(rgba(83, 83, 84, 0.9), rgba(189, 190, 193, 0.6));


// Font
$font-primary: "Poppins", serif;
$font-secondary: "montserrat", sans-serif;
$font-spesial: "Shizuru",;


// Breakpoints
$mobile-width: 576px;
$small-tablet-width: 768px;
$tablet-width: 992px;
$desktop-width: 993px;
$big-desktop-width: 1200px;

