h1,
h2,
h3,
.home__button,
.image-container__text {
  font-family: $font-primary;
  text-transform: lowercase;
  text-align: center;
  
}
p {
  text-align: center;
}
h5 {
  text-transform: uppercase;
}

h5,
span {
  font-weight: 300;
}

body {
  font-family: $font-secondary;
  color: $colour-text;
}
